source "Kconfig.zephyr"

config ZIGBEE_UPDATE_PERIOD
  int "Zigbee cluster attribute updated period in seconds"
  default 120

config LOG_MOISTURE_SENSOR_LEVEL
  int "Moisture sensor log level"
  default 3

config LOG_LIGHT_SENSOR_LEVEL
  int "Light sensor log level"
  default 3

config ZIGBEE_DATA_POLL_INTERVAL
  int "Zigbee data poll interval in milliseconds"
  default 5000

