/ {
  zephyr,user {
    io-channels = <&adc 0>, <&adc 1>;
  };
  pwmdevs {
    compatible = "pwm-leds";
    pwm_dev0: pwm_dev_0 {
      pwms = <&pwm0 0 1000 PWM_POLARITY_NORMAL>;
    };
   };
  aliases {
    sensor-pwm = &pwm_dev0;
  };
};
&adc{

  channel@0 {
    reg = <0>;
    zephyr,gain = "ADC_GAIN_1_6";
    zephyr,reference = "ADC_REF_INTERNAL";
    zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
    zephyr,input-positive = <NRF_SAADC_VDD>;
    zephyr,resolution = <14>;
    zephyr,oversampling = <8>;
  };

  channel@1 {
    reg = <1>;
    zephyr,gain = "ADC_GAIN_1_6";
    zephyr,reference = "ADC_REF_INTERNAL";
    zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
    zephyr,input-positive = <NRF_SAADC_AIN1>;
    zephyr,resolution = <12>;
  };
};


